body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 20px solid black;
    margin: 0.7rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(207, 61, 61);
}
.green{
    background-color: rgb(49, 184, 49);
}
.yellow{
    background-color: rgb(235, 235, 64);
}
.purple{
    background-color: rgb(209, 75, 209);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}